html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: bisque;
}

.books-container {
  display: flex;
  gap: 20rem;
  align-items: flex-start;
  padding: 1rem;
}

.books-form {
  flex: 1;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.books-list table {
  width: 100%;
  border-collapse: collapse;
}

.borrows-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  align-items: flex-start;
  padding: 1rem;
}


